{% extends 'board/board_base.html' %}
{% load thumbnail %}

{% block contents %}

<h1>The Board</h1>

{% for member in board_members %}
    <h2>{{ member }}</h2>
    {% if member.image %}
        {% thumbnail member.image "140" as im %}
            <img src="{{ im.url }}" class="board_member_image" />
        {% endthumbnail %}
    {% endif %}
    {% if member.position %}<p class="board_member_position">{{ member.position }}</p>{% endif %}

    {{ member.biography|linebreaks }}
{% empty %}
    <p>No board members defined yet.</p>
{% endfor %}

{% endblock %}